            <div class='nav_bar nav_bar_1'>
                <i class="material-icons md-26">account_circle</i>
                <div class='nav_bar_text'><a href="#">Моя страница</a></div>
            </div>
            <div class='nav_bar nav_bar_2'>
                <i class="material-icons md-26">message</i>
                <div class='nav_bar_text'>Сообщения</div>
            </div>
            <div class='nav_bar nav_bar_3'>
                <i class="material-icons md-26">people</i>
                <div class='nav_bar_text'><a href="#">Контакты</a></div>
            </div>
            <div class='nav_bar nav_bar_4'>
                <i class="material-icons md-26">stars</i>
                <div class='nav_bar_text'>Стартапы</div>
            </div>
            <div class='nav_bar nav_bar_5'>
                <i class="material-icons md-26">reorder</i>
                <div class='nav_bar_text'>Лента</div>
            </div>


